# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm-cache

# Build
dist/
out/

# Electron
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
